html{
    margin:0px;
    background: url("../img/Site_04.jpg") no-repeat fixed;
    background-size: cover; 
}

#cabecalho{
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0px;
    top: 0px;
    height: 80px;
    background: white;
}
#logo {
    display: block;
    position: absolute;
    top: 1px;
    left: 20px;
    height: 76px;
    width: 250px;
    background: url(../img/LogoEmpresa.jpg);
    background-size: cover; 
}

#bemvindo{
    position: absolute;
    right: 20px;
    top: 5px;
    font-size: 14pt; 
}

#logoff{
    position: absolute;
    right: 20px;
    top: 52px;
    font-size: 14pt; 
}

#buscar{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 24px;
    left: 330px;
    border-radius: 50%;
    cursor:pointer;
    background: url(../img/Lupa.png);
    background-size: cover;
}

input#inputBusca{
    display: block;
    position: absolute;
    width: 690px;
    height: 20px;
    top: 27px;
    left: 370px;
    border: 2px solid black;
    border-radius: 10px; 
    padding-left: 10px; 
}

#menu{
    display: block;
    position: absolute;
    background: white;
    top: 80px;
    left: 0px;
    right: 0px;
    height: 50px;
    font-size: 15pt;
    text-transform: uppercase;
    cursor: pointer;
    color: black;
}

#choices{
    position: absolute;
    text-align: center;
    top: 35%;
    left: 0px;
    right: 0px;
    width: 1250px;
    height: 350px;
    margin: auto;
}

#choices p{
    font-family: Harlow Solid Italic,sans-serif;
    font-size: 15pt;
    background: rgba(255,255,255,0.6);
    text-align: center;
    padding: 3px;
    opacity: 0.6;
    color: black;
    width: 150px;
    border-radius: 50px;
    margin: auto;
    position: relative;
    bottom: -80%;
}

#choices ul{
    display: block;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#choices ul li{
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 5px; 
}

#choices ul li:hover{
    border-radius: 100%;
    position: relative;
    top: -50px;
    width: 400px;
    height: 400px;
    transition: 1s;
    background-size: cover;
}

#choice1{
    background: url(../img/Presilha_plastico_2.jpg) no-repeat ;
    background-size: cover;
}

#choice2{
    background: url(../img/Protetor.jpg);
    background-size: cover;
}

#choice3{
    background: url(../img/Yoga.jpg);
    background-size: cover;
}