body{
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    font-size: 18pt;
}

#nav{
    background-color: #222; 
}

#nav-wrapper{
    position: static;
    left: 0px;
    right: 0px;
    margin: 0px;
    text-align: center;
}

#nav ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    position: relative;
}

#nav ul li img{
    vertical-align: middle;
    padding-left: 5px;
}
#nav ul li{
    display: inline-block
}

#nav ul li:hover{
    background-color: #333;
}

#nav ul li a,visited{
    color: #ccc;
    display: block;
    padding: 15px;
    padding-left:40px;
    padding-right: 40px;
    text-decoration: none;
}

#nav ul li:hover > ul{
    display: block;  
}

#nav ul ul{
    display: none;
    position: absolute;
    background-color: #333;
    border: 5px solid #222;
    border-top: 0px;
    right: 77px;
    margin-left: -5px;
}

#nav ul ul li{
    display: block;
}

#nav ul ul li a,visited{
    color: #ccc;
}

#nav ul ul li a:hover{
    color: #099;
}

#nav ul ul li:hover ul{
    display: block;
    margin-top: -64px;
}

#nav ul ul ul {
    display: none;
    position: absolute;
    background-color: #333;
    border: 5px solid #222;
    right: 240px;
    margin-left: -5px;
    z-index: 10;
}